<div class="calc-wrapper1">
      <div class="row">
          <h4 class="col-lg12 result">
              {{(number1 == null || number2 == null)?'': number1}}
              {{(number1 == null || number2 == null)?'': '+'}}
              {{(number1 == null || number2 == null)?'': number2}}
              {{(number1 == null || number2 == null || result == null)?'':'= ' + result}} 
          </h4>
      </div>
      <div class="row">
      <div class="form-group col-xs-6">
        <input type="number" [(ngModel)]="number1" (ngModelChange)="onNumbersChange()" class="form-control">
      </div>
      <div class="form-group col-xs-6">
          <input type="number" [(ngModel)]="number2"  (ngModelChange)="onNumbersChange()" class="form-control">
        </div>
    </div>
</div>